* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  margin: 0 1.6rem;
}
@media (min-width: 320px) {
  .wrapper {
    margin: 0 2.4rem;
  }
}
@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    max-width: 1320px;
    margin: auto;
  }
}

:root {
  /*========== COLORES ========== */
  /* 
      Dark Cian: hsl(185,75%,39%)
      Very dark desatured blue: hsl(229, 23%, 23%)
      Dark grayish blue: hsl(227,10%,46%)
      Neutral dark gray: hsl(0,0%,59%)
  */
  /*========== PRIMARY ========== */
  --color: hsl(185, 75%, 39%);
  --color: hsl(227, 10%, 46%);
  --color: hsl(0, 0%, 59%);
  --hue: 185;
  --sat: 75%;
  --lig: 39%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --text-color: hsl(229, 23%, 23%);
  --text-color-light: hsl(0, 0%, 59%);
  /*========== Fuentes ========== */
  --body-font: "Kumbh Sans", sans-serif;
  --normal-font-size: 1.8rem;
  --h1-font-size: 1.8rem;
  --p-font-size: 1.4rem;
}

.content__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.content__card .card {
  background: #fff;
  width: 35rem;
  max-width: 35rem;
  border-radius: 1.4rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content__card .card .card__image {
  width: 12rem;
  height: 12rem;
  position: absolute;
  top: 9rem;
  left: calc(50% - 6rem);
  border-radius: 50%;
  border: 5px solid #fff;
  transition: all 0.5s;
}
.content__card .card .card__image:hover {
  transform: scale(1.1);
}
.content__card .card .card__background {
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  height: 15rem;
  background-image: url("./../images/bg-pattern-card.svg");
  background-position: center center;
}
.content__card .card .card__body .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 8rem 0 3rem 0;
}
.content__card .card .card__body .card__content .card__name {
  font-size: var(--h1-font-size);
}
.content__card .card .card__body .card__content .card__name .card__age {
  color: var(--text-color-light);
  font-weight: 400;
}
.content__card .card .card__body .card__content .card__job {
  font-size: var(--p-font-size);
  font-weight: 400;
  color: var(--text-color-light);
}
.content__card .card .card__body .card__features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.3rem solid hsl(150deg, 0%, 92%);
}
.content__card .card .card__body .card__features .card__feature__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  padding: 2rem 0;
}
.content__card .card .card__body .card__features .card__feature__item h2 {
  font-size: var(--h2-font-size);
}
.content__card .card .card__body .card__features .card__feature__item p {
  font-size: var(--p-font-size);
  color: var(--text-color-light);
}
.content__card .attribution {
  padding: 2rem 0;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.circles img:first-child {
  position: absolute;
  width: 40rem;
  height: 40rem;
  top: -20rem;
  left: -20rem;
  z-index: -10;
}
.circles img:last-child {
  position: absolute;
  width: 40rem;
  height: 40rem;
  bottom: -20rem;
  right: -20rem;
  z-index: -10;
}

/* ========== MEDIAQUERIES ========== */
@media (min-width: 768px) {
  .circles img:first-child {
    position: absolute;
    width: 100rem;
    height: 100rem;
    top: -50rem;
    left: -50rem;
    z-index: -10;
  }
  .circles img:last-child {
    position: absolute;
    width: 100rem;
    height: 100rem;
    bottom: -50rem;
    right: -50rem;
    z-index: -10;
  }
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background: var(--first-color);
  position: relative;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
